body{
    font-family: verdana, sans-serif;
    font-size: 14pt;
    background-color: #0d88c8;
}
h1{
  font-size: 46pt;
  text-align: center;
}
.header{
  background-image:url("/HTML-DEV/images/blue-binary.jpg");
  }
.main{
  padding-left: 150px;
  padding-right: 150px;
}
ol{
	padding-left: 50px;

}
li{
	font-style: italic;
}
.center{
	position: relative;
	left: 40%;
}
.justify{
	text-align: justify;
}
