*{
  margin: 0;
  padding: 0;
/* To show the borders of all the containers - for dev purposes only */
/*  border: solid 1px black; */
}

body{
    font-family: verdana, sans-serif;
    font-size: 14pt;
    background-color: #ede0cb;
}

.header{
  background-image: url("../images/header-bg-red.png");
  height: 238px;
  }

.logo{
  float: left;
  height: 235px;
  width: auto;
}

h1{
  line-height: 238px;
  width: 46%;
  margin: 0 auto;
  font-family: "Constantia", serif;
  font-size: 270%;
  text-align: center;
  color: #ebe0cb;
}

h2{
  font-family: "Constantia", serif;
  text-align: center;
}

.container{
  padding-top: 5%;
  text-align: center;
}

.catagory{
  background-color: #f2eee8;
  vertical-align: top;
  display: inline-block;
  border-radius: 25px;
  width: 250px;
  height: 250px;
  padding: 30px;
  border: solid;
  margin: 20px;
}

.cent{
  font-size: 10pt;
  text-align: center;
  font-style: italic;
}

.user{
  margin: 5%;
}
