*{
  margin: 0;
  padding: 0;
/* To show the borders of all the containers - for dev purposes only */
/*  border: solid 1px black; */
}
body{
    font-family: verdana, sans-serif;
    font-size: 14pt;
    background-color: #0d88c8;
    background-image: url("../images/cloud.jpg");
}
h1{
  font-family: "Constantia", serif;
  font-size: 46pt;
  text-align: center;
}

.button{
  margin-top: 40px;
}
.main{
  padding-left: 150px;
  padding-right: 150px;
}
ol{
	padding-left: 50px;

}
li{
	font-style: italic;
}
.center{
	position: relative;
	left: 40%;
}
.justify{
  margin-top: 40px;
	text-align: justify;
}
.mid{
  text-align: center;
}
a{
  text-decoration: none;
}

.container {
    padding-top: 40px;
    width: 500px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}
