*{
  margin: 0;
  padding: 0;
/* To show the borders of all the containers - for dev purposes only */
/*  border: solid 1px black; */
}

body{
    font-family: verdana, sans-serif;
    font-size: 14pt;
    background-color: #f2e9d7;
}

.header{
  background-image: url("../images/header-bg-red.png");
}

.logo{
  display: inline-block;
  float: left;
  height: 235px;
  width: auto;
}

h1{
  margin-right: 30%;
  padding-top: 81px;
  padding-bottom: 81px;
  font-family: "Constantia", serif;
  font-size: 46pt;
  text-align: Right;
  color: #f2e9d7;
}

h2{
  text-align: center;
}

.container{
  padding-top: 5%;
  text-align: center;
}

.catagory{
  vertical-align: top;
  display: inline-block;
  border-radius: 25px;
  width: 250px;
  height: 250px;
  padding: 30px;
  border: solid;
  margin: 20px;
}

.cent{
  font-size: 10pt;
  text-align: center;
  font-style: italic;
}

.user{
  margin: 5%;
}
